body{
    background-color: darkgray;
}
input{
    width: 200px;
    height: 25px;
    border-color: dodgerblue;
}
.buttons{
    display: grid;
    justify-content: center;
    background-color: lightgray;
    padding: 100px;
}
.AllBtn{
    cursor: pointer;
}
.row{
    margin: 5%;
}

