body{
    background-color: rgb(43, 61, 80);
}
button{
    font-size: x-large;
}
.red{
    background-color: rgba(212, 32, 0, 0.658);
    margin-left: 20px;
   
}
input{
    background-color: rgb(161, 156, 156);
    border-radius: 5px;
    border: solid;
    width: 200px;
    height: 25px;
    border-color: aliceblue;
    font-size: large;
    
}
.buttons{
    display: grid;
    justify-content: center;
    background-color: lightslategray;
    margin: 10%  auto;
    width: 60%;
    border-radius: 2%;
}
.AllBtn{
    cursor: pointer;
    
}
.row{
    margin: 6%;
}
.zero{
    margin-right: 5px;
    
}
.equal{
    margin-left: 5%;
}
